src/main/mule/fridgefreak-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd">

	<flow name="fridgefreak-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fridgefreak-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fridgefreak-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fridgefreak-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\storage:application\json:fridgefreak-api-config">
        <set-variable value="#[attributes.queryParams.'in-database']" doc:name="Set in-database query param" doc:id="c272d636-96e6-4e88-a8d9-4d5a733751b2" variableName="in_database" />
		<flow-ref doc:name="fridgefreak-delete" doc:id="8a5b7154-86bd-4670-b1d9-70c717b1481c" name="fridgefreak-delete"/>
    </flow>
    <flow name="get:\storage:fridgefreak-api-config">
        <set-variable value="#[attributes.queryParams.expire2date as Date default null]" doc:name="Set expire2date query param" doc:id="71139900-e859-4a96-9c07-c2c1fec811af" variableName="expire2date" />
		<flow-ref doc:name="fridgefreak-get" doc:id="f90e5dfc-1e33-4d76-b783-348e325e9cb0" name="fridgefreak-get" />
    </flow>
    <flow name="post:\storage:application\json:fridgefreak-api-config">
		<flow-ref doc:name="fridgefreak-post_json" doc:id="61ad46fb-9fd8-40e1-be88-b358a6679755" name="fridgefreak-post_json"/>
    </flow>
    <flow name="post:\storage:application\xml:fridgefreak-api-config">
		<flow-ref doc:name="fridgefreak-post_xml" doc:id="5855bc3e-ce15-42e5-b2db-c37c27fbfccb" name="fridgefreak-post_xml" />
    </flow>
    <flow name="delete:\storage\(id):fridgefreak-api-config">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set ID" doc:id="65710970-6dc8-4980-aaf1-f8d01c6cbf92" variableName="id" />
		<flow-ref doc:name="fridgefreak-delete_by_id" doc:id="e332b897-327f-458a-9621-922d7445033d" name="fridgefreak-delete_by_id"/>
    </flow>
    <flow name="get:\storage\(id):fridgefreak-api-config" doc:id="d7369ef9-6117-47a6-9a80-9fa24ec7606e">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set ID" doc:id="6a70d3b9-167a-4ba0-a59e-f7283a9f1e19" variableName="id" />
		<flow-ref doc:name="fridgefreak-get_by_id" doc:id="7dc167a6-5fc2-49fb-a9ed-64533b9d70c4" name="fridgefreak-get_by_id"/>
    </flow>
    <flow name="put:\storage\(id):application\json:fridgefreak-api-config" doc:id="69de6294-5a05-4b62-8e2f-984c1e9360bc">
        <set-variable value="#[attributes.uriParams.'id']" doc:name="Set ID" doc:id="5d304ce7-cf0d-4084-941d-ef9514bf4653" variableName="id" />
		<flow-ref doc:name="fridgefreak-put_id" doc:id="e111b7ff-08ff-42ce-8dbb-4ab89f9ac8e7" name="fridgefreak-put_id"/>
    </flow>
    <flow name="get:\storage\by-id-list:application\json:fridgefreak-api-config">
		<foreach doc:name="For Each" doc:id="e26ac252-f12f-4a14-969d-a8f62e59536e" collection="#[payload.ids]" counterVariableName="id">
			<vm:publish doc:name="to get_by_ID" doc:id="9d2cd611-48d8-44e5-bf21-ae1d9f8937c8" config-ref="VM_Config" queueName="get_queue" />
		</foreach>
		<vm:consume queueName="response_queue" doc:name="Consume aggregator queue" doc:id="b81241fa-1170-47d9-8112-31e281a74480" config-ref="VM_Config"/>
		<ee:transform doc:name="to json" doc:id="c7a628c9-8c39-46e7-986f-97db154a5603" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
